.activity {
  padding-bottom: 94px;
}
.activity-title {
  min-width: 362px;
  margin-bottom: 50px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--tertiary-font);
}
.activity-list {
  display: flex;
  justify-content: space-between;
}
.activity-item-wrapper {
  position: relative;
  display: block;
}
.activity-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bg-color);

  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  right: 0;
  bottom: 0;
  padding-left: 95px;
  padding-top: 27px;
  padding-right: 95px;
  padding-bottom: 27px;
}
