.footer-theme-dark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.footer {
  background: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  // width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  // padding-left: 15px;
  // padding-right: 15px;
  // // display: flex;
  // text-align: center;
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-around;
  // }
  // @media screen and (min-width: 1200px) {
  //   margin-right: 70px;
  // }
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.footer .container {
  display: flex;
}
.page-footer-container {
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
  }
}
.light-logo {
  color: var(--primary-bg-color);
}
.footer-list {
  margin-top: 20px;
}
.footer-link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  opacity: 0.6;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-address {
  color: rgba(255, 255, 255, 1);
  font-style: normal;
}
.footer-item {
  font-family: var(--primary-font);
  margin-bottom: 9px;
  font-weight: 400;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: center;
  }
}

.social {
  padding-top: 12px;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.social .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-form {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.footer-form-title {
  font-family: "Roboto";
  @include font();
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
  padding-top: 12px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-form-div {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
    width: auto;
  }
}

.footer-form-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 12px;
  background-color: rgba(47, 48, 58, 1);
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    width: 358px;
    display: inline;
    margin-right: 12px;
    margin-bottom: 0;
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    color: rgba(117, 117, 117, 0.5);
  }
}

.footer-form-wrapper {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
  }
}

.footer-form-submit {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  align-self: center;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: var(--primary-font);
  @include font(16px, 700, 30px);
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border-radius: 4px;
  border: var(--accent-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    margin: 0;
  }
}
.footer-form-icon {
  align-items: center;
  margin-left: 10px;
}
