:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --tertiary-font: #212121;
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
